// Visibility toggle classes for different viewport sizes / states.
.is-tablet, .is-desktop, .is-desktop-large, .hidden {
    display: none !important;
}

.is-mobile {
    display: block !important;
}

.is-hidden {
    display: none !important;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #080808;
}
