.page-snap-enabled .homepage {
    .paragraph {
        margin-top: 40px;

        .caption {
            margin-top: 20px;
        }

        .button-container {
            margin-top: 20px;
        }
    }
    footer {
        margin-top: 0;
    }
}


@media screen and (width: 768px) {
    $pageHeight: 928px;

    .page-snap-enabled .homepage {
        height: $pageHeight;

        .elevator {
            top: 34%;
        }

        .carousel, .carousel .owl-wrapper-outer {
            height: 675px;
        }

        .rich-content {
            header {
                height: 675px;

                h2 {
                    margin-top: 60px;
                }

                img {
                    // Random stuff
                    height: 100%;
                    left: -40%;
                    position: relative;
                    width: auto;
                }
            }
        }

        .carousel .swipe-guide {
            top: 580px;
        }

        .page-snap, .home-splash {
            height: $pageHeight;
        }
        .page-footer {
            height: 300px;
        }
    }
}

@media screen and (min-width: 1024px) {
    $pageHeight: 680px;

    .page-snap-enabled .homepage {
        height: $pageHeight;

        .elevator {
            top: 21%;
        }

        .carousel, .carousel .owl-wrapper-outer {
            min-height: 400px;
            height: 400px !important;
        }

        .rich-content {
            header {
                height: 400px;
            }
            h2 {
                margin-top: 25px;
            }
        }

        .page-snap, .home-splash {
            height: $pageHeight;
        }
        .page-footer {
            height: 300px;
        }

        .home-splash h1 {
            margin-top: -100px;
        }
    }
}

.home-splash {
    h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .buttons {
        bottom: 14%;
        left: 50%;
        position: absolute;
        width: 600px;
        margin-left: -300px;

        .button {
            font-size: 14px;
            line-height: 14px;
            width: 200px;
            padding: 20px 50px;
        }
    }
}

.homepage .carousel .swipe-guide {
    // This is a known hack. Since the slides have translation in place (the slider) and are actually in a separate, GPU Accelerated thread, they get redraw faster. 
    // So this is in place to lift this element to another gpu composited layer and it will prevent the flickering. At least that's the theory.
    @include translateZ(0);
    top: 86%;
}

// More Button
.page-snap-enabled .homepage .more-button {
    display: block;
    position: absolute;
    z-index: 100;
    width: 50px;
    margin-left: -25px;
    bottom: 3%;
    left: 50%;
    text-align: center;
    color: #6e6e70;
    font-size: 12px;
    font-weight: bold;  
    text-transform: uppercase;
    opacity: 0.2;
    @include transition(opacity 0.5s);

    &.scrolling {
        opacity: 0;
    }

    &.hidden {
        opacity: 0;
    }

    &:before {
        display: block;
        text-align: center;
        font-size: 32px;
    }

}

// Elevator
.page-snap-enabled .homepage .elevator {
    display: block;
    position: absolute;
    z-index: 100;
    right: 30px;
    width: 30px;

    a {
        display: block;
        width: 30px;
        height: 30px;
        margin: 10px 0;
        border: 1px solid transparent;
        @include border-radius(30px);
        @include transition(border 0.5s, opacity 0.5s);
        opacity: 0.6;
        background: none;

        &.selected {
            opacity: 1;
            border: 1px solid white;
        }

        .inner {
            display: block;
            width: 10px;
            height: 10px;
            margin: 10px;
            background: white;
            @include border-radius(30px);
            @include transition(background 0.5s);
        }
    }
    &.black {
        a {
            background: none;
            &.selected {
                border: 1px solid #080808;
            }
            .inner {
                background: #080808;
            }
        }
    }
}

// Homepage only styles
.homepage {
    .paragraph {
        margin-top: $section-margin;
        margin-bottom: $section-padding;
        p {
            max-width: 81%;
        }
    }
}