.gallery {
  @include container(80%);
  padding: 0;

  img {
    max-width: $medium-breakpoint;
  }

  li {
    @include gallery(2 of 4);
    margin-bottom: gutter(4);

    img {
      min-width: 280px;
      min-height: 280px;
    }
  }

  p {
    margin: 0 auto;
    max-width: 90%;
    font-size: 14px;
  }
}
