// Modules Margin-Padding
$section-side-padding: 20px;
$section-margin: 40px;
$section-padding: 30px;

main {
  padding-top: 60px;
}


// Modules Margin-Padding
$section-margin: 40px;

.module:last-child {
  margin-bottom: $section-margin;;
}

footer {
  margin-top: $section-margin;
}
