// Modules Margin-Padding
$section-side-padding: 20px;
$section-margin: 40px;
$section-padding: 30px;

main {
  padding-top: 60px;
}


// Modules Margin-Padding
$section-margin: 40px;


.module {
  &:last-child {
    margin-bottom: $section-margin;;
  }

  // Margin Exceptions
  &.no-gutter {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &.no-gutter-top {
    margin-top: 0;
    padding-top: 0;
  }

  &.no-gutter-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

