.carousel {
    min-height: 500px;
}

.content-slider-item {
    header {
        max-height: 500px;
        overflow: hidden;
    }
}

.cards-carousel {
  h1, .h1 {
    font-size: 36px;
  }

  h2, .h2 {
    font-size: 24px;
  }

  .item {
    //max-width: 442px;
  }
}