.classes-calendar {
    ul {
        li {
            &:nth-child(2), &:nth-child(3) {
                .classes-timeline {
                    background: #494949;
                    &:before, &:after {
                        display: none;
                    }
                }
            }
            &:nth-child(4) {
                p {
                  color: #333;
                }
                .classes-timeline {
                    &.current {
                        &:before {
                            background-color: #fff;
                            border: 1px solid #acacac;
                        }
                    }
                    &:before {
                        content: '';
                        width: 9px;
                        height: 9px;
                        background-color: #000;
                        border: 1px solid #000;
                        margin: -2px auto 0;
                        position: relative;
                        z-index: 10;
                        display: block;
                        @include border-radius(100%);
                        @include box-sizing(border-box);
                    }
                    &:after {
                        content: " ";
                        position: absolute;
                        background: #494949;
                        height: 4px;
                        width: 50%;
                        top: 50%;
                        left: 0;
                        margin-top: -2px;
                    } 
                } 
            }
        }
    }
}