.classes-list {
    .classes-day-container {
        .classes-day:nth-of-type(4) {
            display: block;
        }
    }
	.day-dates {
		li {
			width: 25%;
            &:nth-child(-n+4) {
                display: block;
            }
		}
	}
	.classes-day {
		width: 25%;
	}

	li {
		.wrapper {
			.class-info-hit-state {
				margin-top: 7%;
			}
		}
	}
}