.classdetail {
	.class-module {

		.class-detail {
			.big-font {
				letter-spacing: 10px;
			}
		}

		p {
			margin-bottom: 93px;
		}

		.social-buttons {
			padding: 15px 0 41px 0;

			a.black {
				font-size: 22px;
			}
		}

		.underlined-small-link {
			margin-top: 0;
		}
	}
}

.favorites-button {
	top: 61px;
}
.favorites-list {
	width: 300px;
	top: 61px;
	li {
		a {
			padding: 17px 25px;
			font-size: 12px;
			span {
				font-size: 14px;
				margin-top: -1px;
				&:before {
					width: 16px;
				}
			}
		}
	}
}