.columns-layout {
    .big-circle-column {
        .item-info {
            .content {
                height: 44%;
                width: 88%;
                .content-wrapper {
                    max-width: 90%;
                }
            }
        }
    }
}