.fb-sharing-overlay {
	.fb-box {
		padding: 48px 67px;
		width: 510px;
		margin-left: -255px;
		margin-top: -255px;

		a {
			font-size: 12px;
		}

		img {
			width: 90px;
			height: 90px;
		}

		ul {
			margin-bottom: 34px;
			max-width:400px;
			li {
				&:first-child {
					font-size: 17px;	
				}

				font-size: 13px;
			}
		}

		p {
			font-size: 22px;
		}

		form {
			max-width: 377px;

			textarea {
				font-size: 12px;
				min-height: 96px;
				margin: 28px 0;
				padding: 12px;
			}

			
		}
	}
}