footer {
	h4 {
		font-size: 16px;
		color: #808080;
		padding: 50px 0 35px;
	}

    .social-icons {
        margin-bottom: 52px;
        li {
            margin: 0 13px;
        }
    }

    .footer-links {
    	width: 640px;
    }
}