.quilt-overlay {
    height: 70%;
    .quilt-overlay-info {
        padding: 75px 100px;
        span {
            //font-size: 84px;
            font-size: 45px;
            letter-spacing: 10px;
        }
    }
}