.rich-content {
    header {
        height: auto;
        min-height: 500px;
        max-height: 500px;

        .rich-content-title {
        	font-size: 45px;
        	letter-spacing: 10px;
        	width: 600px;
        }
    }
}