<!-- using <picture> allows for the use of media queries -->
<picture>
    <!-- Add Fallback for IE9 -->
    <!--[if IE 9]>
  <video style="display: none;"><![endif]-->
    <source srcset="/img/michael-1200.jpg" media="(min-width: 1920px)">
    <source srcset="/img/michael-1200.jpg" media="(min-width: 1024px)">
    <source srcset="/img/michael-800.jpg" media="(min-width: 768px)">
    <source srcset="/img/michael-500.jpg" media="(min-width: 320px)">
    <!--[if IE 9]></video><![endif]-->
    <!-- Add <img> fallback -->
    <img srcset="/img/michael-500.jpg" alt="Michael Romanoff">
</picture>

<section class="module paragraph">
    <p>For 15 years I have used my knowledge of web design and development to create effective and easy to use
        websites. I have worked in several different capacities within the industry and have developed a
        well-rounded set of skills to convert complex visual designs into clean, standard-driven, front-end code.
        Over
        the years I have worked with companies such as IBM, Starwood Hotels, Teacher's Retirement System, RGA, Draft
        FCB, RAPP and Equinox.
    </p>
</section>

<section class="module paragraph">
    <h2 class="title">Awards</h2>

    <p>
        <strong><img class="icon icon-favourite-website-awards" src="/img/favourite-website-awards.png"
                     alt="Favourite Website Awards"/>Public short list Favorite Websites Awards – 2011.</strong>
        <br>
        <a href="http://www.thefwa.com/shortlist/witness-org-project-focus" target="_blank">WITNESS.ORG – Project
            Focus</a>
    </p>

    <p>
        <strong><img class="icon icon-webby-award" src="/img/the_webby_awards.png" alt="The Webby Awards"/>The Webby
            Awards - 2011.</strong>
        <br>

        <a href="http://www.webbyawards.com/webbys/current.php?media_id=96&amp;season=15#webby_entry_beauty"
           target="_blank">Category - Beauty and Cosmetics. COTY: Beyoncé Heat</a>
    </p>

    <p><strong><img class="icon icon-webby-award" src="/img/the_webby_awards.png" alt="The Webby Awards"/>The Webby
        Awards - 2010.</strong>
        <br>
        <a href="http://www.webbyawards.com/webbys/current.php?season=14#webby_entry_pharm" target="_blank">Category -
            Pharmaceuticals. myalli</a></p>
</section>


<section id="recentWork" class="module paragraph">
</section>


<section class="module paragraph">
    <h2 class="title">Projects and Code samples I'm working on.</h2>

    <p><strong>Equifit Forms<br>
        <em>on GitHub</em></strong><br>
        Node.JS, MongoDB, Backbone.JS, BackboneLayoutManager, Backbone Forms, Bootstrap and LESS<br>
        <a href="https://github.com/mromanoff/equifit" target="_blank">Equifit forms</a>
    </p>

    <p><strong>Okgrafix.com<br>
        <em>on GitHub</em></strong><br>
        Node.JS, MongoDB, Backbone.JS, BackboneLayoutManager, Backbone Forms, Susy and SASS <br>
        <a href="https://github.com/mromanoff/okgrafix" target="_blank">Okgrafix.com (Backbone.JS)</a><br>
        <a href="https://github.com/mromanoff/okgrafix-emberjs" target="_blank">Okgrafix.com (Ember.JS)</a><br>
    </p>

    <p><strong>Purchase and Schedule Apps POC<br>
        <em>on BitBucket</em></strong><br>
        Backbone.JS, Marionette, Susy and SASS<br>
        <a href="https://bitbucket.org/zelcie/equinox-poc-2014/src" target="_blank">Purchae and Schedule Apps POC</a>
    </p>

    <p><strong>Code snippets<br>
        <em>on Codepen</em></strong><br>
        Backbone.JS, Backbone Forms<br>
        <a href="http://codepen.io/mromanoff/" target="_blank">POC code snippets</a>
    </p>
</section>

