main {
  padding-top: 130px;
}

h1 {
  &.title {
    font-size: 2em;
  }
}

h3 {
  font-size: 30px;
}

hr.separator-line {
  max-width: 125px;
}

// Modules Margin-Padding
$section-margin: 40px;
$section-padding: 30px;

// Module WrApper
.module {
  margin-top: $section-margin;
  padding-top: $section-padding;
  &:last-child {
    margin-bottom: $section-margin;
  }
  // Margin Exceptions
  &.no-gutter {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &.no-gutter-top {
    margin-top: 0;
    padding-top: 0;
  }

  &.no-gutter-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

