.login {
    .wrapper {
        top: 80px;

        .simple-form {
        	.button.box.small {
        		font-size: 12px;
        	}
        }
    }

    &.page.image {
        .rich-content {
            header {
                h2.rich-content-title {
                    font-size: 45px;
                    letter-spacing: 10px;
                }
            }
        }
    }
}