.columns-layout {
    h1 {
        max-width: none;
    }

    ul {
        @include clearfix;
        max-width: 825px;
        margin: 0 auto;
    }

    &.big-circles {
        ul {
            max-width: none;
        }
    }

    // Text only columns have no min-width and much larger columns.
    &.text-only {
        ul {
            .column p {
                font-size: 12px;
            }
        }
    }

    .column {
        float: left;
        width: 33%;

        .content {
            .title {
                max-width: none;
                font-size: 0.8em;
            }
            p {
                font-size: 12px;
            }
        }
    }

    .big-circle-column {
        float: left;
        width: 31.33%;
        margin: 0 1%;

        .item-info {
            position: relative;
            @include border-radius(500px);
            border: 1px solid #b3b3b3;
            overflow: hidden;
            background-clip: padding-box;

            img {
                max-width: 999em;
                width: 100%;
                height: auto;
                margin: 0 auto;
                border: none;

            }
			.upcomming{
				max-width: 100em;
				width: 47%;
				height: auto;
				margin: 0 auto;
				border: none;
				margin-top: 30px;
			}

            .content {
                position: absolute;
                bottom: 0;
                height: 55%;
                width: 84%;
                //@include rgba-background-inline(rgba(255,255,255,1));

                .title {
                    margin: 10px auto;
                    margin-bottom: 4px;
                }

                .content-wrapper {
                    max-width: 98%;
                    font-size: 12px;
                    margin: 0 auto;
                }

                .padding-left, .padding-right {
                    float:left;
                    clear:left;
                    display: block;
                    height: 12px;
                    width: 33px;
                    &.padding-none { width: 0; }
                    &.padding-small { width: 7%; }
                    &.padding-medium { width: 14%; }
                    &.padding-large { width: 22%; }
                    &.padding-extra { width: 32%; }
                }

                .padding-right {
                  float: right;
                  clear: right;
                }
            }
        }
    }

    .two-cols {
        border-top: 1px solid #b4b4b4;
        border-bottom: 1px solid #b4b4b4;
        @include clearfix;

        img {
            float: left;
            width: 50%;
        }

        h4, p {
            float: right;
            padding: 0 5%;
            width: 40%;
        }

        h4 {
            padding-top: 77px;
            padding-bottom: 30px;
        }
    }

    &.inverted .two-cols {
        img {
            float: right;
        }

        h4, p {
            float: left;
        }
    }
}

[data-component="upcoming-classes"].columns-layout {
    .big-circle-column {
        .item-info {
            min-height: 319px;
        }
    }
}
