.confirmation-message-module {
	margin-top: 48px;
	color: #fff;
	padding: 0 15%;

	.confirmation-message-container {
		color: #fff;
	}

	nav {
		a {
			border-color: #fff;
		}
	}
}

.uiwebview {
	.password-recover-confirmation {
		.button-container {
			display:none;
		}
	}
}

.member-callout {
	color: #fff !important;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 48px;
	padding: 0 10%;
}