form {
    padding: 0;

    & > p, & > h6 {
        text-align: center;
    }

    &.simple-form {
        color: #fff;
        margin-top: 20px;

        input {
            color: #fff;
            border-color: #fff;
        }

        .checkbox-replacement {
            border: 2px solid #fff;
            border: 2px solid rgba(255,255,255,0.5);

        }
    }

    .form-section {
        margin-top: $section-margin;
    }

    &.large, .large {
        max-width: 820px;
        .title {
            font-size: 24px;
        }
        fieldset {
            @include box-sizing(border-box);
            width: 50%;
            float: left;
            padding: 0 10px;

            &.full {
                width: 100%;
            }

            &.three-quarter {
                width: 35%;
            }
            &.half {
                width: 25%;
            }
            &.half-medium {
                width: 25%;
            }
            &.quarter {
                width: 15%;
            }
        }
    }
}
.extra {
    color: #fff;
    a {
        color: #fff;
    }
}

.checkbox {
    &.small {
        .checkbox-replacement {
            border: 2px solid rgba(255, 255, 255, 0.5);
            height: 15px;
            margin-top: 2px;
            width: 15px;

            &:before {
                font-size: 38px;
                left: -10px;
                top: -7px;
            }
        }

        .span {
            font-size: 14px;
        }
    }
}

.radio {
    $color: #fff;
    margin: 0 0 30px;

    .radio-replacement {
        border-color: $color;
        height: 20px;
        top: 6px;
        width: 20px;

        &:after {
            height: 8px;
            left: 6px;
            top: 6px;
            width: 8px;
        }
    }

    .label {
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 4px;
    }
}

// For SPA using Backbone-form forms
// For SPA using Backbone-form forms
form.forms-spa {
  fieldset {

    &.narrow-fieldset {
      width: 66%;
      margin: 0 auto;
      float: none;

      //for radio btns
      //todo: targe fancy radio instead
      ul {
        display: block;
        text-align: center;
      }
    }

    &.address-fields {
      > div {
        overflow: hidden;

        > div {
          width: 48.5%;
          float: left;
          margin-right: 3%;
        }

        > div:last-child {
          margin-right: 0;
        }
      }
    }

    &.creditcard-fields {
      > div {
        overflow: hidden;

        > div {
          margin-right: 3%;
          float: left;
        }

        > div:nth-child(1) {
          width: 48.5%;
        }

        > div:nth-child(2) {
          width: 25%;
        }

        > div:nth-child(3) {
          width: 22%;
          margin-left: -13px;
          margin-right: 0;
        }
      }
    }

    &.location-fields {
      > div {
        overflow: hidden;

        > div {
          margin-right: 3%;
          float: left;
        }

        > div:nth-child(1) {
          width: 39%;
        }

        > div:nth-child(2) {
          width: 12%;
        }

        > div:nth-child(3) {
          width: 20%;
        }

        > div:nth-child(4) {
          width: 20%;
        }

        > div:last-child {
          margin-right: 0;
        }
      }
    }

    &.phone-fields {
      label { padding-left: 4px; }

      > div {
        overflow: hidden;

        > div {
          width: 29%;
          margin-right: 3%;
          float: left;
        }

        > div:first-child {
          width: 33%;
        }

        > div:last-child {
          margin-right: 0;
        }
      }
    }

    &.date-fields {
      width: 100%;
      overflow: hidden;
      margin-top: -4px;
      margin-left: 1px;
      padding-left: 0;
      padding-right: 0;

      > .fancy-select {
        float: left;
        padding: 0;
        margin-right: -1px;
      }

      > .fancy-select.date {
        width: 18%;
      }

      > .fancy-select.month {
        width: 36%;
      }

      > .fancy-select.year {
        width: 46.4%;
      }
    }

    &.weight-field {
      .weight-unit {
        padding-top: 40px;
        padding-left: 10px;
      }
    }

    &.agreement-field {
      > div > div > div {
        text-align: center;
        display: block;
      }
    }

  }

  h3 {
    margin-bottom: 1.2em;
    font-weight: 200;
  }

  .button-group {
    display:table;
    margin: 0 auto;
    text-align: center;

    div {
      display:table-row;

      button {
        display:table-cell;
        -webkit-appearance: button; // RESET
        width: auto; // RESET
        padding: 1.2em 6em;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}