.form {


//  .control-group{
//    &.error input{
//      border-color: $brand-danger;
//    }
//  }


  input {
    @include inline-block;
    background: $gray-darker;
    color: #fff;
    border: none;
    font-size: 30px;
    width: 360px;
    min-width: 0;
    padding: 10px 20px;
  }
}
