.select-wrapper {
    font-size: 28px;

    &.white {
        @include inline-block;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 0;
        margin: 0 auto;
        margin-top: -12px;
        margin-top: -5px;
        padding-bottom: 6px;
        
        .option {
            &:after {
                position: static;
            }
        }
    }
}