$nav-height: 130px;

body.closed-nav {
  nav.main {
    @include transform(translate3d(0,-100%,0));

    .full-wrApper {
      opacity: 0;
    }

    .login-tab {
      top: 100%;
      opacity: 1;
    }
  }
}

nav.main {
  height: $nav-height;

  .full-wrApper {
    @include large-padding;
  }

  .login-tab {
    @include transition(all 0.3s);
    position: absolute;
    top: -100%;
    right: 40px;
    opacity: 0;
    background: white;
    padding: 4px 20px;
    border: 1px solid #717374;
    border-top: 0;

    a {
      color: $black2;
      font-size: 0.75em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .logo {
    float: none;
    padding-top: 18px;
    width: 226px;
    height: 60px;
  }

  .links-wrApper {
    position: static;
    width: auto;
    height: auto;

    background: transparent;

    margin: 0;
  }

  // Show the nav even if it was hidden on smaller sizes.
  &.open-links {
    .full-wrApper {
      opacity: 1;
    }
  }

  .main-links {
    padding: 0;
    margin-top: 6px;
  }

  .main-links, .secondary-links {
    li {
      @include inline-block;
      text-align: left;
      margin-bottom: 0;

      a {
        color: #7A7A7B;
        font-size: 13px;
        margin-right: 10px;
        letter-spacing: 2.5px;
        font-weight: bold;

        &.is-white {
          color: white;
        }
      }
    }
  }

  .secondary-links {
    position: absolute;
    top: 10px;
    right: 40px;
    li {
      a {
        color: #cfcfcf;
        font-size: 11px;
        letter-spacing: 1.5px;
        border-right: 1px solid $black3;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 0;
        &.highlight {
          color: #fff;
        }
      }
      &:last-child {
        a {
          color: white;
          border: none;
        }
      }
    }
  }

}
