//TODO ported from old size using Susy 1 convert this to suzy 2
//.paragraph {
//  padding:0 $section-side-padding;
//
//  @include at-breakpoint($medium-breakpoint 12) {
//    li {
//      @include span-columns(6); // each gallery-image is 3 of 9 cols.
//      &:nth-child(2n) { @include omega; } // every third image completes a row.
//    }
//  }
//}


.paragraph {
    padding:0 $section-side-padding;

    p {
        letter-spacing: 2px;
        margin: 0 auto;
        max-width: 90%;
        font-size: 14px;
    }
}
