<h2 class="title">Photography</h2>
<ul class="preview">
  {{#each recentPhotography}}
      <li>
          <a href="#photography/{{id}}">
              <img src="{{image_url}}" alt="{{name}}"/>
          </a>
      </li>
  {{/each}}
</ul>
