// ONLY VARIABLES SHOULD BE DEFINED IN THIS FILE.

$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$extra-large-breakpoint: 1920px;

$font-family: 'Graphik Web', sans-serif;
$primary-fg: #000;
$primary-bg: #fff;

$swatch-0: red;
$swatch-1: yellow;
$swatch-2: darkslategrey;

// Navigation Variables
$navigation-background: #000;

//Footer
$footer-text-color: #808080;
