<header class="header-region banner" role="banner"></header>
<div class="flashes-region"></div>
<main class="main-region" role="main"></main>
<footer class="footer-region contentinfo" role="contentinfo"></footer>
<div class="overlay-region"></div>

