// Buttons navigation container

nav.buttons {
  //@include clearfix;

  // Buttons navigation elements (anchor)
  //
  // .inline             - Button width adjusted to text contents.
  // .half-button        - One half of container's width button.
  // .third-button       - A third of container's width button.
  // .quarter-button     - A quarter of container's width button.
  //
  a {
    display: block;
    float: left;
    letter-spacing: 0.22em;
    line-height: 1.3;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      // TODO
      // :hover              - On mouse over style.
    }

    &.inline {
      display: inline-block;
      float: none;
      padding-left: 1em;
      padding-right: 1em;
      width: auto;
    }

    &.half-button {
      width: 50%;
    }

    &.third-button {
      width: 33.33%;
    }

    &.quarter-button {
      width: 25%;
    }
  }
}

// Different buttons containers
nav.button-container {
  padding: 1.3em 0;
  margin-top: 30px;

  &.centered {
    text-align: center;
  }
}

// Buttons
//
// .white               - Button with light background and dark foreground (font color.)
// .black               - Button with dark background and light foreground (font color.)
// .small               - Button typography in small size.
// .box                 - Button thin style black background white foreground.
// .box.white           - Button thin style inverted.

a.button {
  &:hover {
    // TODO
    // :hover              - On mouse over style.
  }

  &.primary {
    border-color: $primary-btn-bg;
    background: $primary-btn-bg;
    color: $black2;
  }

  &.white {
    border-color: $black2;
    background: #fff;
    color: $black2;
  }

  &.black {
    border-color: $black2;
    background: $black2;
    color: #fff;
  }

  &.small {
    font-size: 11px;
    font-weight: bold;
    padding: 1.4em 0;
  }

  &.header-button {
    @include box-button;
    @include medium-label;
    border-color: #fff;
    color: #fff;
  }

  &.box {
    @include box-button;
    @include medium-label;
    text-decoration: none;

    padding-top: 15px;
    padding-bottom: 15px;

    display: block;

    &.small {
      @include small-label;
    }
  }

  &.fat {
    display: inline-block;
    padding: 1.5em 3em;
  }

  &.inline {
    display: inline-block;
  }
}

button {
  @include transition(background 0.3s, color 0.3s);
  &.primary {
    border-color: $primary-btn-bg;
    background: $primary-btn-bg;
    color: $black2;
    &:hover {
      background-color: rgba(255, 160, 0, .7);
    }
  }

  &.small {
    font-size: 11px;
    font-weight: bold;
    padding: 1.4em 0;
  }

  &.box {
    @include box-button;
    @include medium-label;
    text-decoration: none;

    padding-top: 15px;
    padding-bottom: 15px;

    display: block;

    &.small {
      @include small-label;
    }
  }
}

.hero-region {
  position: relative;
}

.carousel-navigation {

  a {
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 0;
    zoom: 1;
    font-size: 56px;
    @include opacity(0.8);
    height: 180px;
    width: 80px;
    line-height: 180px;
    @include transition(color 0.3s);

    z-index: 9999;
    position: absolute;
    top: 33%;

    //TODO: update this
    //@include transform(translate(-50%, -50%));

    &.next {
      right: 0;
    }

    &.prev {
      left: 0;
    }
  }

  a:hover {
    color: rgba(255, 255, 255, .5);
  }

}

.owl-theme .owl-controls {
  position: absolute;
  bottom: 30px;
  width: 100%;
  .owl-page span {
    background: white
  }
}
