.confirmation-message-module {
	display: block;
	text-align: center;
	padding: 0 10%;
}

.member-callout {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 0 10%;
	text-align: center;
	text-transform: uppercase;
}