footer {
  color: $footer-text-color;
  background-color: $footer-bg-color;
  min-height: 270px;
  padding-bottom: 10px;

  h4 {
    letter-spacing: 2.5px;
    font-size: 24px;
    padding: 45px 0;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    color: $footer-text-color;
  }

  .social-icons {
    text-align: center;
    margin-bottom: 45px;

    li {
      @include inline-block;
      margin: 0 4px;

      a {
        display: block;
        width: 55px;
        height: 55px;
        line-height: 55px;
        @include border-radius(55px);
        border: 2px solid $footer-text-color;
        color: $footer-text-color;
        font-size: 1.2em;
        text-align: center;
        text-decoration: none;
        @include transition(background 0.3s, color 0.3s);

        &:hover {
          background: rgba(215, 48, 48, .5);
          color: $footer-text-color;
        }
      }
    }
  }

  hr {
    margin: 0;
    border-color: $footer-text-color;
  }

  .footer-links {
    letter-spacing: 1.5px;
    text-align: center;
    margin: 10px 0;
    li {
      @include inline-block;
      margin: 0 5px;
    }
  }

  .footer-links li a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.7em;
    color: $footer-text-color;
  }

  .copyright {
    margin-top: $default-margin;
    text-align: center;
    font-size: $font-smaller;
  }

}
