footer {
    background: #000;

    h4 {
        letter-spacing: 2.5px;
        padding: 50px 0 45px;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        color: $footer-text-color;
    }

    .social-icons {
        text-align: center;
        margin-bottom: 45px;
        padding-top: 25px;

        li {
           // @include inline-block;
            margin: 0 4px;
            padding-top: 25px;

            a {
                display: block;
                width: 55px;
                height: 55px;
                line-height: 55px;
               // @include border-radius(55px);
                border: 2px solid #303030;
                color: #808080;
                font-size: 1.2em;
                text-align: center;
                text-decoration: none;

                //@include transition(background 0.3s, color 0.3s);

                &:hover {
                    background: #444444;
                    color: #fff;
                }
            }
        }
    }

    hr {
        margin: 0;
        border-color: #171717;
    }

    .footer-links {
        letter-spacing: 1.5px;
        text-align: center;
        margin: 10px auto;
        width: 320px;
        li {
           // @include inline-block;
            line-height: 39px;
            margin: 0 8px;
        }
    }

    .footer-links li a, .goto-fullsite {
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px;
        color: white;
    }

    .goto-fullsite {
        display: block;
    }

}
