$pageTransitionTime: 1s;
$pageHeight: 460px;


.homepage {
    .paragraph {
        padding-top: $section-padding;
    }
}

img.icon{
  min-height: initial;
  min-width: initial;
  width: 100px;
  height: auto;
  margin-bottom: 5px;
}
