$pageTransitionTime: 1s;
$pageHeight: 460px;

.no-snap {
    //Disable Stellar on unsupported
    [data-stellar-ratio]{
        -webkit-transform: translate3d(0,0,0) !important;
        -moz-transform: translate3d(0,0,0) !important;
        transform: translate3d(0,0,0) !important;
    }
    .homepage .more-button, .homepage .elevator {
        display: none;
    }
}

// Nav on Homepage.
.page-snap-enabled nav.main .full-wrapper {
    @include rgba-background-inline($navigation-background);
}

.page-snap-enabled .homepage {
    height: $pageHeight;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    footer {
        margin-top: 0;
    }

    .carousel, .carousel .owl-wrapper-outer {
        height: 240px;
    }

    //Remove navigation padding;
    padding-top: 0 !important;

    .paragraph, .title {
        margin: 10px 0;
        padding-top: 0;
    }

    .rich-content {
        .button-container, .caption {
            padding: 0;
            margin: 0 auto;
            // width: 85%;
        }
        
        .caption {
            .buttons {
                margin: 0 auto;
            }
        }

        header {
            height: 240px;
            min-height: 240px;
        }

        h2 {
            margin-top: 25px;
            min-height: 100px;
            opacity: 0;
            @include transition(opacity 2s ease);
        }
    }

    .home-splash {
        height: $pageHeight;
        
        h1 {
            margin-top: -40px;
        }
    }

    .carousel {
        .swipe-guide {
            top: auto;
            bottom: 10px;
        }

        .rich-content {
            .caption {
                padding-top: 20px;
            }
        }
    }

    .page-wrapper {
        position: absolute;
        width: 100%;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);

        &.animating {
            @include transition(transform $pageTransitionTime ease);
        }
    }

    .page-snap {
        height: $pageHeight;
        overflow: hidden;
        position: relative;
        @include translateZ(0);
    
        &.active {
            .rich-content {
                h2 {
                    opacity: 1;
                } 
            }
        }

    }
    .page-footer {
        height: 300px;
    }
}

.home-splash {
    position: relative;

    min-height: 320px;
    // max-height: 1440px;

    .buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;

        .button {
            font-size: 14px;
            line-height: 14px;
            width: 50%;
        }
    }

    h1 {
        position: absolute;
        z-index: 10;
        left: 1%;
        text-align: center;
        top: 50%;
        width: 98%;
    }
}

.homepage {
    .paragraph {
        padding-top: $section-padding;
    }
    .carousel, .rich-content {
        // header {
        //     max-height: none;
        // }
    }
    .more-button, .elevator {
        display: none;
    }
}

// Elevator
.page-snap-enabled .homepage .elevator {
    display: block;
    position: absolute;
    z-index: 100;
    right: 12px;
    top: 23%;
    width: 5px;
    @include transition(opacity 0.5s);

    &.hide {
        opacity: 0;
    }

    a {
        display: block;
        width: 5px;
        height: 5px;
        margin: 10px 0;
        border: 1px solid transparent;
        @include border-radius(5px);
        @include transition(border 0.5s, opacity 0.5s, background 0.5s);
        background: white;

        &.selected {
            border: 1px solid white;
            background: transparent;
        }

        .inner {
            display: none;
        }
    }
    &.black {
        a {
            background: #080808;
            &.selected {
                border: 1px solid #080808;
                background: transparent;
            }
        }
    }
}