img {
  &.icon{
    width: 120px;
  }
}

.preview {
  @include clearfix;
  @include container();

  li {
    @include gallery(2 of 4);
    margin-bottom: gutter(4);

    img {
      width: 100%;
      height: auto;
      border: 1px solid #444;
      margin: 0;
    }
  }
}

.code-region {
  text-align: center;
  li {
    margin-bottom: $default-margin * 2;
  }
  small {
    font-size: $font-smaller;
    display: block;
  }
}
