img {
  &.icon{
    width: 120px;
  }
}

.preview {
  @include clearfix;
  @include container();

  li {
    @include gallery(2 of 4);
    margin-bottom: gutter(4);

    img {
      width: 100%;
      height: auto;
      border: 1px solid $black3;
      opacity: 1;
      &:hover {
        @include transition(all 0.3s);
        opacity: .9;
      }
    }
  }
}

.code-region {
  text-align: center;
  li {
    margin-bottom: $default-margin * 2;
  }
  span {
    display: block;
    font-size: $font-small * 2;
    color: $gray-light;
  }
//  small {
//    font-size: $font-smaller;
//    display: block;
//  }
}
